.block-service {
   @include space-block;

   .space-y-6 > div {
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
               margin-bottom: 0;
      }
   }
   img {
      width: 50px;
   }
   .sub-title-servic-top {
      font-size: 20px;
      @include media-breakpoint-down(md) {
         font-size: 18px;
      }
   }
   .b-item-wrap {
      .b-title, .b-cat {
         padding-left: 20px;
         position: relative;
         margin-bottom: 15px;
         &::before {
            content: "\eaa0";
            font-family: 'IcoFont';
            position: absolute;
            left: 0;
         }
      }
      .b-cat:before {
         content: "\ef71";
         font-size: 14px;
      }
   }
}