@font-face {
    font-family:'Open Sans';
    src:url(../fonts/Open_Sans/OpenSans-Bold.ttf);
    font-weight:700;
    font-style:normal
}

@font-face {
    font-family:'Open Sans';
    src:url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'Open Sans';
    src:url(../fonts/Open_Sans/OpenSans-Light.ttf);
    font-weight:300;
    font-style:normal
}


// Kh faces

@font-face {
    font-family:'Koh-Santepheap-Body';
    src:url(../fonts/Koh-Santepheap-Body.eot);
    src:local('☺'),url(../fonts/Koh-Santepheap-Body.woff) format('woff'),url(../fonts/Koh-Santepheap-Body.ttf) format('truetype'),url(../fonts/Koh-Santepheap-Body.svg) format('svg');
    font-weight:400;
    font-style:normal
}

@font-face {
    font-family:'Koh-Santepheap-Body';
    src:url(../fonts/Koh-Santepheap-Body-Bold.eot);
    src:local('☺'),url(../fonts/Koh-Santepheap-Body-Bold.woff) format('woff'),url(../fonts/Koh-Santepheap-Body-Bold.ttf) format('truetype'),url(../fonts/Koh-Santepheap-Body-Bold.svg) format('svg');
    font-weight:bold;
    font-style:normal
}

@font-face {
    font-family:'Moul';
    src:url(../fonts/Moul-Regular.ttf);
    font-weight:300;
    font-style:normal
}